<main>
  {%- if sections -%}
    {%- assign hlevel1 = 1 -%}
    {%- for item in sections -%}
      <section
        class='{{ item.type }}'
        {% if item.nav %}
          id='{{ item.nav | slugify }}'
        {% endif %}
      >
        <div class='inner'>
          {%- if item.title -%}
            <h{{ hlevel1 }} class='title'>
              {%- if item.title.href and item.title.text -%}
                <a href='{{ item.title.href }}'>{{ item.title.text }}</a>
              {%- else -%}
                {{ item.title }}
              {%- endif -%}
            </h{{ hlevel1 }}>
            {%- assign hlevel1 = 2 -%}
          {%- endif -%}
          {%- assign hlevel2 = hlevel1 -%}
          {%- if item.subtitle -%}
            {%- assign hlevel2 = hlevel2 | plus: 1 -%}
            <h{{ hlevel2 }} class='subtitle'>
              {{- item.subtitle -}}
            </h{{ hlevel2 }}>
          {%- endif -%}
          {%- if item.description -%}
            <div class='description'>{{ item.description | markdownify }}</div>
          {%- endif -%}
          {%- if item.gfx -%}
            <div class='{{ item.type }}__gfx'>
              {%- if item.gfx contains '.svg' -%}
                {%- assign gfxPath = item.gfx -%}
                {%- include gfxPath -%}
              {%- else -%}
                <img src='{{ item.gfx.src }}' alt='{{ item.gfx.alt }}'>
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if item.cta -%}
            <div class='action'>
              <a class='cta' href='{{ item.cta.href }}'>{{ item.cta.text }}</a>
            </div>
          {%- endif -%}
          {%- if item.list -%}
            <div class='{{ item.type }}__grid'>
              {%- for subitem in item.list -%}
                {%- assign hlevel3 = 3 -%}
                <div class='{{ item.type }}__item'>
                  {%- if subitem.title -%}
                    <h{{ hlevel3 }} class='{{ item.type }}__title'>
                      {%- if subitem.title.href and subitem.title.text -%}
                        <a href='{{ subitem.title.href }}'>
                          {{- subitem.title.text -}}
                        </a>
                      {%- else -%}
                        {{ subitem.title }}
                      {%- endif -%}
                    </h{{ hlevel3 }}>
                    {%- assign hlevel3 = hlevel3 | plus: 1 -%}
                  {%- endif -%}
                  {%- assign hlevel4 = hlevel3 -%}
                  {%- if subitem.subtitle -%}
                    <h{{ hlevel4 }} class='{{ item.type }}__subtitle'>
                      {{- subitem.subtitle -}}
                    </h{{ hlevel4 }}>
                  {%- endif -%}
                  {%- if subitem.tags -%}
                    <ul class='{{ item.type }}__tags'>
                      {%- for tag in subitem.tags -%}
                        <li>{{ tag }}</li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                  {%- if subitem.description -%}
                    <div class='{{ item.type }}__description'>
                      {{ subitem.description | markdownify }}
                    </div>
                  {%- endif -%}
                  {%- if subitem.gfx -%}
                    <div class='card__gfx'>
                      {%- if subitem.gfx contains '.svg' -%}
                        {%- assign gfxPath = subitem.gfx -%}
                        {%- include gfxPath -%}
                      {%- else -%}
                        <img
                          src='{{ subitem.gfx.src }}'
                          alt='{{ subitem.gfx.alt }}'
                        >
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  {%- if subitem.quote -%}
                    <blockquote class='{{ item.type }}__block'>
                      {%- if subitem.quote.summary and subitem.quote.full -%}
                        <details>
                          <summary>
                            {{ subitem.quote.summary | markdownify }}
                          </summary>
                          <div>{{ subitem.quote.full | markdownify }}</div>
                        </details>
                      {%- else -%}
                        {{ subitem.quote | markdownify }}
                      {%- endif -%}
                      {%- if subitem.person or subitem.position -%}
                        <div>
                          {%- if subitem.person -%}
                            — <b>{{ subitem.person }}</b>
                          {%- endif -%}
                          {%- if subitem.position -%}
                            , {{ subitem.position }}
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </blockquote>
                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
          {%- if item.form -%}
            <form
              class='{{ item.type }}__form'
              name='contact-{{ lang }}'
              method='POST'
              action='/{{ lang }}/ok/'
              data-netlify='true'
              netlify-honeypot='bot-field'
            >
              <p style='display:none;'>
                <label>
                  Don't fill this out if you're human:
                  <input name='bot-field' type='text'>
                </label>
              </p>
              <div class='{{ item.type }}__row'>
                <label for='contactName'>{{ site.form.name[lang] }}</label>
                <input type='text' name='name' id='contactName'>
              </div>
              <div class='{{ item.type }}__row'>
                <label for='contactEmail'>{{ site.form.email[lang] }}</label>
                <input type='email' name='email' id='contactEmail'>
              </div>
              <div class='{{ item.type }}__row'>
                <label for='contactText'>{{ site.form.message[lang] }}</label>
                <textarea name='message' id='contactText' rows='6'></textarea>
              </div>
              <input type='hidden' name='language' value='{{ lang }}'>
              <button type='submit'>{{ site.form.send[lang] }}</button>
            </form>
          {%- endif -%}
          {%- if item.note -%}
            <div class='{{ item.type }}__note'>
              {{ item.note | markdownify }}
            </div>
          {%- endif -%}
        </div>
        {%- if item.icon -%}
          <div class='cover'>
            {%- assign sectionPath = 'gfx/'
              | append: item.icon
              | append: '.svg'
            -%}
            {%- include sectionPath, item: item -%}
          </div>
        {%- endif -%}
      </section>
    {%- endfor -%}
  {%- endif -%}
</main>
